.banner-img {
    width: 100%;
    object-fit: cover;
}
.team img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.social {
    font-size: 60px;
    padding: 10px;
}
.social a {
    margin: 20px;
}
